<!DOCTYPE html>
 <html lang="en">
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <title>Document</title>

         <!-- Style -->
         <link rel="stylesheet" href="/assets/style.css">
     </head>
     <body>

         <!-- Include (insert) Another View -->
         <% include main/navbar.ejs %>

         <h1>Hello there, Welcome to my website</h1>
         <p>Enjoy exploring</p>
     </body>
 </html> 